asm_*.drv linguist-language=Assembly
c_*.drv linguist-language=C
systemconf_*.sys linguist-language=MyKernel System file
systemdriverconfig_*.sys linguist-language=MyKernel System file
system_*.sys linguist-language=MyKernel System file
*.mkdeol linguist-language=MyKernel do Enzo Oficial Linguagem
