[user]
    name = EnzoDev
    email = enzogabryelbezerra2018@gmail.com

[core]
    editor = nano
    autocrlf = false

[alias]
    s = status
    co = checkout
    cm = commit -m
    br = branch
    lg = log --oneline --graph

[color] MT
    ui = true

[credential]
    helper = store

[http]
    sslVerify = true
[KernelData]
kernel = MyKernel 1.0.0 -- enzo github
user_name = KernelUser_root
password = 12345
ip = ;seu ip aqui
PID = ;seu PID aqui
KERNEL_BUILD_CODE = 9349;@399zOoskf82@3&3build
